<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>kagoyume.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>kagoyume.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>kagoyume.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>kagoyume.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>kagoyume.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationcomfirm</servlet-name>
        <servlet-class>kagoyume.Registrationconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationcomplete</servlet-name>
        <servlet-class>kagoyume.Registrationcomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>kagoyume.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>kagoyume.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buyconfirm</servlet-name>
        <servlet-class>kagoyume.Buyconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buycomplete</servlet-name>
        <servlet-class>kagoyume.Buycomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myhistory</servlet-name>
        <servlet-class>kagoyume.Myhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myupdate</servlet-name>
        <servlet-class>kagoyume.Myupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyupdateResult</servlet-name>
        <servlet-class>kagoyume.MyupdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydelete</servlet-name>
        <servlet-class>kagoyume.Mydelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MydeleteResult</servlet-name>
        <servlet-class>kagoyume.MydeleteResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationcomfirm</servlet-name>
        <url-pattern>/Registrationcomfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationcomplete</servlet-name>
        <url-pattern>/Registrationcomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buyconfirm</servlet-name>
        <url-pattern>/Buyconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buycomplete</servlet-name>
        <url-pattern>/Buycomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myhistory</servlet-name>
        <url-pattern>/Myhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myupdate</servlet-name>
        <url-pattern>/Myupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyupdateResult</servlet-name>
        <url-pattern>/MyupdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydelete</servlet-name>
        <url-pattern>/Mydelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MydeleteResult</servlet-name>
        <url-pattern>/MydeleteResult</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
